<!doctype html>
<html>
  <head>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    >

    {{ turbo() }}

    <meta charset="utf-8">
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script>
      (() => {
        const application = Stimulus.Application.start()

        application.register("hello", class extends Stimulus.Controller {
          static get targets() {
            return [ "name" ]
          }
        })
      })()
    </script>
  </head>
  <body>
    <h1>
      Hotwire-Flask Form Validation
    </h1>

    <h2>Please fill the form</h2>

    <form action="{{ url_for('signup') }}" method="POST" class="m-5">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control is-invalid" name="username" placeholder="username" />
        <div class="invalid-feedback">
          Username already registered!
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="********" />
      </div>

      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" class="form-control" name="confirm-password" placeholder="********" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" data-turbo="false">Sign Up</button>
      </div>
    </form>

    <h2>Registered users</h2>
    <ul>
      {% for user in users %}
        {% include '_user.html' %}
      {% endfor %}
    </ul>
  </body>
</html>
