div {
  border: 1px solid #000;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title {
  font-size: large;
  color: darkblue;
  background-color: darkgrey;
  align-content: center;
}

.column {
  width: 50%;
  margin: 5px;
}
