<!doctype html>
<html>
  <head>
    {{ turbo() }}
  </head>
  <body>
    <h1>
      Hotwire-Flask Image Loader
    </h1>

    <h2>
      Images loaded: <turbo-frame id="counter">{{ counter }}</turbo-frame>
    </h2>

    <turbo-frame id="images">
      {% include '_image_loader.html' %}
    </turbo-frame>

    <turbo-frame id="button">
      <form action="/add-image" method="post">
        <input type="submit" value="Load more" style="margin: 4px 2px;">
      </form>
    </turbo-frame>
  </body>
</html>
