<form method="POST" action="{{ url_for('action_append') }}">
  <fieldset>
    <legend>Append</legend>
    <label for="target-id">Target ID</label>
    <input id="target-id" name="target-id" />

    <label for="item-id">Item ID</label>
    <input id="item-id" name="item-id" />

    <input type="submit" value="Append" />
  </fieldset>
</form>

<form method="POST" action="{{ url_for('action_prepend') }}">
  <fieldset>
    <legend>Prepend</legend>
    <label for="target-id">Target ID</label>
    <input id="target-id" name="target-id" />

    <label for="item-id">Item ID</label>
    <input id="item-id" name="item-id" />

    <input type="submit" value="Prepend" />
  </fieldset>
</form>

<form method="POST" action="{{ url_for('action_replace') }}">
  <fieldset>
    <legend>Replace</legend>
    <label for="item-id">Item ID</label>
    <input id="item-id" name="item-id" />

    <label for="new-item-id">New Item ID</label>
    <input id="new-item-id" name="new-item-id" />

    <input type="submit" value="Replace" />
  </fieldset>
</form>

<form method="POST" action="{{ url_for('action_update') }}">
  <fieldset>
    <legend>Update</legend>
    <label for="item-id">Item ID</label>
    <input id="item-id" name="item-id" />

    <label for="new-item-id">New Item ID</label>
    <input id="new-item-id" name="new-item-id" />

    <input type="submit" value="Update" />
  </fieldset>
</form>

<form method="POST" action="{{ url_for('action_remove') }}">
  <fieldset>
    <legend>Remove</legend>
    <label for="item-id">Item ID</label>
    <input id="item-id" name="item-id" />

    <input type="submit" value="Remove" />
  </fieldset>
</form>
