<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    {{ turbo() }}
  </head>
  <body>
    <h1>
      Hotwire-Flask demo app
    </h1>
    <div class="flex-container">
      <div class="actions column">
        <div class="title">
          Actions
        </div>
        <div class="content">
          {% include '_actions.html' %}
        </div>
      </div>

      <div class="frames column">
        <div class="title">
          Turbo Frames
        </div>
        <div class="content">
          {% include '_frames.html' %}
        </div>
      </div>
    </div>
  </body>
</html>
