<!doctype html>
<html>
  <head>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    >

    {{ turbo() }}

    <meta charset="utf-8">
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script>
      (() => {
        const application = Stimulus.Application.start()

        application.register("autocomplete", class extends Stimulus.Controller {
          static get targets() {
            return [ "ingredient" ]
          }

          search() {
            //debugger
            //console.log(event.currentTarget.textContent.trim())
            console.log(this.ingredientTarget.value)
          }
        })
      })()
    </script>
  </head>
  <body>
    <h1>
      Hotwire-Flask Autocomplete
    </h1>

    <div style="display: flex; justify-content: space-around;"">
      <div>
        <h2>Select ingredient for recipe</h2>

        <div data-controller="autocomplete">
          <input type="text" placeholder="Type name" data-autocomplete-target="ingredient" data-action="autocomplete#search" />
          <div>
            <turbo-frame id="autocomplete" src="{{ url_for('search') }}"></turbo-frame>
          </div>
        </div>
      </div>

      <div>
        <h2>Recipe</h2>
        <ul>{% include '_recipe.html' %}</ul>
      </div>
    </div>
  </body>
</html>
