<!doctype html>
<html>
  <head>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    {{ turbo() }}

    <meta charset="utf-8">
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script>
      (() => {
        const application = Stimulus.Application.start()

        application.register("search", class extends Stimulus.Controller {
          static get targets() {
            return [ "results" ]
          }

          static get values() {
            return { url: String }
          }

          findResults(event) {
            const q = encodeURIComponent(event.target.value)
            const url = this.urlValue.replace(/%s/g, q)
            this.resultsTarget.src = url
          }
        })
      })()
    </script>
  </head>
  <body>
    <h1>
      Hotwire-Flask Autocomplete
    </h1>

    <div style="display: flex; justify-content: space-around;" class="content">
      <div style="flex: 1;">
        <h2>Add ingredient</h2>

        <div data-controller="search" data-search-url-value="{{ url_for('search') }}?q=%s">
          <input type="search" placeholder="Type name" data-action="search#findResults" />
          <turbo-frame id="search-results" data-search-target="results"></turbo-frame>
        </div>
      </div>

      <div style="flex: 1;">
        <h2>Recipe</h2>
        <ul class="list-group">
          {% include '_recipe.html' %}
        </ul>
      </div>
    </div>
  </body>
</html>
