<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    {{ turbo() }}
  </head>
  <body>
    <h1>
      Hotwire-Flask Image Loader
    </h1>

    <h2>
      Images loaded: <turbo-frame id="counter">{{ counter }}</turbo-frame>
    </h2>

    <turbo-frame id="images">
      {% for seq in range(0, counter) %}
        {% include '_image.html' %}
      {% endfor %}
    </turbo-frame>

    <turbo-frame id="button">
      <form action="/add-image" method="post">
        <input type="submit" value="Load more" style="margin: 4px 2px;">
      </form>
    </turbo-frame>
  </body>
</html>
